<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email" >
<div>
  <label for="password">Password: </label>
  <input id="password" type="text" formControlName="password">
</div>
  <div>
    <label for="newPassword">New Password: </label>
    <input id="newPassword" type="text" formControlName="newPassword">
  </div>
  <div>
    <label for="confirmNewPassword">Confirm New Password: </label>
    <input id="confirmNewPassword" type="text">
  </div>

  <button type="submit">Change</button>
</form>
