<div class="list-group no-border list-unstyled" id="myDIV">
  <span class="list-group-item heading">Manage Listings</span>
  <a routerLink="../action/add-apartment" class="list-group-item "><i class="fa fa-fw fa-plus-square-o"></i> Add Listing</a>
  <a href="my_bookmarked_listings.html" class="list-group-item d-flex justify-content-between align-items-center"><span><i class="fa fa-fw fa-bookmark-o"></i> Bookmarked Listing</span>
    <span class="badge badge-primary badge-pill">10</span>
  </a>
  <a href="my_listings.html" class="list-group-item d-flex justify-content-between align-items-center"><span><i class="fa fa-fw fa-bars"></i> My Listings</span>
    <span class="badge badge-primary badge-pill">7</span>
  </a>
  <span class="list-group-item heading">Manage Account</span>
  <a routerLink="../action/profile" class="list-group-item"><i class="fa fa-fw fa-pencil"></i> My Profile</a>
  <a routerLink="../action/change-password" class="list-group-item"><i class="fa fa-fw fa-lock"></i> Change Password</a>
  <a routerLink="../action/" class="list-group-item"><i class="fa fa-fw fa-bell-o"></i> Notifications</a>
  <a routerLink="../action/" class="list-group-item"><i class="fa fa-fw fa-cubes"></i> Membership</a>
  <a routerLink="../action/" class="list-group-item"><i class="fa fa-fw fa-credit-card"></i> Payments</a>
  <a routerLink="../action/" class="list-group-item"><i class="fa fa-fw fa-cog"></i> Account</a>
</div>

