<div class="col-md-7 col-lg-8 col-xl-8">
  <div class="page-header bordered">
    <h1>Account Settings</h1>
  </div>
  <form action="index.php">
    <h3 class="subheadline">Social Connect</h3>
    <ul class="list-group no-border list-unstyled v2">
      <li><i class="fa fa-fw fa-twitter icon"></i> Twitter <a class="btn btn-primary btn-sm">Disconnect</a> <span class="connected">Connected</span></li>
      <li><i class="fa fa-fw fa-facebook icon"></i> Facebook <a class="btn btn-light btn-sm">Connect</a></li>
      <li><i class="fa fa-fw fa-google-plus icon"></i> Google Plus <a class="btn btn-light btn-sm">Connect</a></li>
    </ul>
    <h3 class="subheadline">Delete Account</h3>
    <p>If you are no longer interested in using your account click the button below to delete your account.</p>
    <a href="#" class="btn btn-lg btn-light">Delete Account</a>
    <hr>
    <div class="form-group action">
      <button type="submit" class="btn btn-lg btn-primary">Save Settings</button>
    </div>
  </form>
</div>
