<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Featured agents</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-xl-10">
        <div class="row has-sidebar">
          <div class="col-md-5 col-lg-4 col-xl-4 col-sidebar">
            <div id="sidebar" class="sidebar-left">
              <div class="sidebar_inner">
                <div class="card shadow agent-search">
                  <h3 class="subheadline mt0">Search Agents</h3>
                  <form>
                    <div class="form-group">
                      <label for="location">Enter Location, landmark..</label>
                      <input type="text" class="form-control" id="location"  placeholder="Enter Location, landmark..">
                    </div>
                    <div class="form-group">
                      <label for="type">Property Type</label>
                      <select class="form-control ui-select" id="type">
                        <option>Please Select</option>
                        <option>Flat</option>
                        <option>Villa</option>
                        <option>Office Space</option>
                        <option>Showroom</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-8">
            <div class="page-header bordered mt0">
              <h1>Agents <small>Save the hassle. Choose from over all Agents</small></h1>
            </div>
            <div class="sorting">
              <div class="row justify-content-between">
                <div class="col-sm-5 col-md-5 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <select class="form-control ui-select">
                      <option selected="selected">Most recent</option>
                      <option>Most reduced</option>
                      <option>Most popular</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="item-listing list">
              <div class="item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item-image"> <img src="assets/img/demo/profile.jpg" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-md-9"> <a href="agent.html" class="btn btn-primary float-right">View Profile</a>
                    <h3 class="item-title"><a href="agent.html">John Doe - John Estate</a></h3>
                    <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                    <div class="item-description">We have a profoundly knowledgeable and dedicated team who are well connected with this market and are
                      extremely capable at matching tenants to properties.</div>
                    <div class="item-actions"> <a href="tel:02080226348"><i class="fa fa-phone"></i> 020 8022 6348</a> <a href="agent.html"><i class="fa fa-envelope-o"></i> Contact Agent</a> </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item-image"> <img src="assets/img/demo/profile2.jpg" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-md-9"> <a href="agent.html" class="btn btn-primary float-right">View Profile</a>
                    <h3 class="item-title"><a href="agent.html">Jane Doe - Jane Estate</a></h3>
                    <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                    <div class="item-description">We have a profoundly knowledgeable and dedicated team who are well connected with this market and are
                      extremely capable at matching tenants to properties.</div>
                    <div class="item-actions"> <a href="tel:02080226348"><i class="fa fa-phone"></i> 020 8022 6348</a> <a href="agent.html"><i class="fa fa-envelope-o"></i> Contact Agent</a> </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item-image"> <img src="assets/img/demo/profile3.jpg" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-md-9"> <a href="agent.html" class="btn btn-primary float-right">View Profile</a>
                    <h3 class="item-title"><a href="agent.html">John Doe - John Estate</a></h3>
                    <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                    <div class="item-description">We have a profoundly knowledgeable and dedicated team who are well connected with this market and are
                      extremely capable at matching tenants to properties.</div>
                    <div class="item-actions"> <a href="tel:02080226348"><i class="fa fa-phone"></i> 020 8022 6348</a> <a href="agent.html"><i class="fa fa-envelope-o"></i> Contact Agent</a> </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="item-image"> <img src="assets/img/profile-placeholder.jpg" class="img-fluid" alt=""> </div>
                  </div>
                  <div class="col-md-9"> <a href="agent.html" class="btn btn-primary float-right">View Profile</a>
                    <h3 class="item-title"><a href="agent.html">John Doe - John Estate</a></h3>
                    <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                    <div class="item-description">We have a profoundly knowledgeable and dedicated team who are well connected with this market and are
                      extremely capable at matching tenants to properties.</div>
                    <div class="item-actions"> <a href="tel:02080226348"><i class="fa fa-phone"></i> 020 8022 6348</a> <a href="agent.html"><i class="fa fa-envelope-o"></i> Contact Agent</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <p><a href="#" class="btn btn-lg btn-link btn-block">Load More <i class="fa fa-caret-down"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
