<div class="home-search">
  <div class="main search-form">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-10">
          <div class="heading">
            <h2>Find your new home</h2>
            <h3>We will help you to find the best places to spend time in any city in the world.</h3>
          </div>
          <form action="property_listing.html">
            <div class="card">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Country, State, County, City, Zip, Title, Address, ID.">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="form-group">
                        <select class="form-control form-control-lg ui-select">
                          <option value="">Property Type</option>
                          <option value="house">House</option>
                          <option value="flat">Flat</option>
                          <option value="apartment">Apartment</option>
                          <option value="land">Land</option>
                          <option value="room">Room</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-in">
              <div class="radio-box">
                <input type="radio" name="searchin" value="rent" id="rent22">
                <label class="radio-inline" for="rent22">For Rent</label>
              </div>
              <div class="radio-box">
                <input type="radio" name="searchin" value="sell" id="sell22" checked>
                <label class="radio-inline" for="sell22" >For Sell</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
