<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12 col-lg-10 col-xl-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
      </nav>
      <div class="page-header">
        <h1>Please sign in or register</h1>
      </div>
      <div  *ngIf="errRegister" class="alert alert-warning">
        <span>{{ errRegister }}</span>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col col-md-6  col-lg-5 col-xl-4">
        <ul class="nav nav-tabs tab-lg" role="tablist">
          <li role="presentation" class="nav-item"><a class="nav-link" routerLink="../login">Sign In</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link active">Register</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <form *ngIf="formRegister" [formGroup]="formRegister">
              <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" id="name" class="form-control form-control-lg" placeholder="Your Name"
                       formControlName="name"
                       [ngClass]="name && name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''" />
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.name">
                    <div class="error-message"
                         *ngIf="name && name.invalid && name.hasError(error.type) && (name.dirty || name.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" class="form-control form-control-lg" placeholder="Email"
                       formControlName="email"
                       [ngClass]="email && email.invalid && (email.dirty || email.touched) ? 'is-invalid' : ''" required/>
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                         *ngIf="email && email.invalid && email.hasError(error.type) && (email.dirty || email.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" class="form-control form-control-lg" placeholder="Phone Number"
                       formControlName="phone"
                       [ngClass]="phone && phone.invalid && (phone.dirty || phone.touched) ? 'is-invalid' : ''" />
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.phone">
                    <div class="error-message"
                         *ngIf="phone && phone.invalid && phone.hasError(error.type) && (phone.dirty || phone.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" placeholder="Password"
                       formControlName="password"
                       [ngClass]="password && password.invalid && (password.dirty || password.touched) ? 'is-invalid' : ''" required/>
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message"
                         *ngIf="password && password.invalid && password.hasError(error.type) && (password.dirty || password.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control form-control-lg" placeholder="Confirm Password"
                       formControlName="confirmPassword"
                       [ngClass]="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) ? 'is-invalid' : ''" required/>
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.confirmPassword">
                    <div class="error-message"
                         *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-lg" (click)="submitRegister()">Register</button>
            </form>
          </div>
        </div>
        <div> </div>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="socal-login-buttons"> <a href="#" class="btn btn-social btn-block btn-facebook"><i class="icon fa fa-facebook"></i> Continue with Facebook</a> <a href="#" class="btn btn-social btn-block btn-twitter"><i class="icon fa fa-twitter"></i> Continue with Twitter</a> <a href="#" class="btn btn-social btn-block btn-google"><i class="icon fa fa-google"></i> Continue with Google</a> </div>
      </div>
    </div>
  </div>
</div>
