<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-12 col-lg-10 col-xl-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Register</li>
        </ol>
      </nav>
      <div class="page-header">
        <h1>Please sign in or register</h1>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col col-md-6  col-lg-5 col-xl-4">
        <ul class="nav nav-tabs tab-lg" role="tablist">
          <li role="presentation" class="nav-item"><a class="nav-link" routerLink="../login">Sign In</a></li>
          <li role="presentation" class="nav-item"><a class="nav-link active">Register</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="login">
            <form>
              <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" id="name" class="form-control form-control-lg" placeholder="Your Name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" class="form-control form-control-lg" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" placeholder="Password">
              </div>
              <div class="checkbox">
                <input type="checkbox" id="terms">
                <label for="terms">By registering I accept our Terms of Use and Privacy.</label>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </form>
          </div>
        </div>
        <div> </div>
      </div>

      <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="socal-login-buttons"> <a href="#" class="btn btn-social btn-block btn-facebook"><i class="icon fa fa-facebook"></i> Continue with Facebook</a> <a href="#" class="btn btn-social btn-block btn-twitter"><i class="icon fa fa-twitter"></i> Continue with Twitter</a> <a href="#" class="btn btn-social btn-block btn-google"><i class="icon fa fa-google"></i> Continue with Google</a> </div>
      </div>
    </div>
  </div>
</div>
