<div class="col-md-7 col-lg-8 col-xl-8">
  <div class="page-header bordered">
    <h1>My profile <small>Manage your public profile</small></h1>
  </div>
  <form action="index.php">
    <h3 class="subheadline">Basic Information</h3>
    <div class="row">
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="" value="John">
      </div>
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control form-control-lg" placeholder="" value="Doe">
      </div>
    </div>
    <div class="form-group">
      <label>Your Email</label>
      <input type="text" class="form-control form-control-lg" value="john.doe@email.com">
    </div>
    <div class="row">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control form-control-lg" placeholder="" value="+14155552671">
        </div>
    </div>
    <h3 class="subheadline">Agent/Company Profile</h3>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control form-control-lg">
    </div>
    <hr>
    <div class="form-group action">
      <button type="submit" class="btn btn-lg btn-primary">Update Profile</button>
    </div>
  </form>
</div>
