<script>
  $(document).on('change', '#image_upload_file', function () {
    var progressBar = $('.progressBar'), bar = $('.progressBar .bar'), percent = $('.progressBar .percent');

    $('#image_upload_form').ajaxForm({
      beforeSend: function () {
        progressBar.fadeIn();
        var percentVal = '0%';
        bar.width(percentVal)
        percent.html(percentVal);
      },
      uploadProgress: function (event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal)
        percent.html(percentVal);
      },
      success: function (html, statusText, xhr, $form) {
        obj = $.parseJSON(html);
        if (obj.status) {
          var percentVal = '100%';
          bar.width(percentVal)
          percent.html(percentVal);
          $("#imgArea>img").prop('src', obj.image_medium);
        } else {
          alert(obj.error);
        }
      },
      complete: function (xhr) {
        progressBar.fadeOut();
      }
    }).submit();

  });
</script>

<div class="col-md-7 col-lg-8 col-xl-12">
  <div class="page-header bordered">
    <h1>My profile <small>Manage your public profile</small></h1>
  </div>
  <form>
    <h3 class="subheadline">Basic Information</h3>
    <div class="form-custom" style="width: 100%">
      <div class="mx-5">
        <div class="row">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control form-control-lg" placeholder="" value="John">
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control form-control-lg" placeholder="" value="Doe">
          </div>
        </div>
        <div class="form-group">
          <label>Your Email</label>
          <input type="text" class="form-control form-control-lg" value="john.doe@email.com">
        </div>
        <div class="row">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control form-control-lg" placeholder="" value="+14155552671">
          </div>
        </div>
        <h3 class="subheadline">Agent/Company Profile</h3>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control form-control-lg">
        </div>
      </div>
      <div class="mt-2">
        <div id="imgArea"><img [src]="url ? url :'assets/img/demo/profile2.jpg'" class="avatar-input">
          <div class="progressBar">
            <div class="bar"></div>
            <div class="percent">0%</div>
          </div>
          <div id="imgChange">
            <button class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
            <input type="file" accept="image/*" id="avatar" (change)="onSelectFile($event)"
                   class="select-profile-picture" formControlName="image">
          </div>
        </div>
      </div>
    </div>
    <input type="text" name="user_id" hidden>
    <hr>
    <div class="form-group action">
      <button type="submit" class="btn btn-lg btn-primary">Update Profile</button>
      <button type="button" class="btn btn-lg btn-default mx-3" (click)="clearFile()">Cancel</button>
    </div>
  </form>
</div>

