<div class="col-md-7 col-lg-8 col-xl-8">
  <div class="page-header bordered">
    <h1>My Listings</h1>
  </div>
  <div class="item-listing list">
    <div class="item" *ngFor="let apartment of apartments">
      <div class="row">
        <div class="col-lg-5">
          <div class="item-image"> <a routerLink="../../{{apartment.id}}/detail"><img src="{{'http://localhost:8000/img/'+apartment.photo}}" class="img-fluid" alt="">
            <div class="item-badges">
              <div class="item-badge-left" >{{ apartment.status }}</div>
            </div>
            <div class="item-meta">
              <div class="item-price" style="color: orange">{{ apartment.price | currency: ' ':true }} &#8363;
              </div>
            </div>
          </a>
            <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
        </div>
        <div class="col-lg-7">
          <div class="item-info">
            <h3 class="item-title"><a href="property_single.html">{{ apartment.name }}</a></h3>
            <div class="item-location"><i class="fa fa-map-marker"></i> Province: {{ apartment.province }}, District: {{ apartment.district }}, Ward: {{ apartment.ward }}</div>
            <div class="item-details-i">
              <span class="bedrooms" data-toggle="tooltip" > {{ apartment.bedroom }} <i class="fa fa-bed"></i></span>
              <span class="bathrooms" data-toggle="tooltip" > {{ apartment.bathroom }} <i class="fa fa-bath"></i></span> </div>
            <div class="item-details">
              <ul>
                <li>Category <span>{{ apartment.category }}</span></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="added-on">Listed on {{ apartment.created_at }} </div>
            </div>
            <div class="col-md-6">
              <a href="#" class="added-by">by {{ apartment.user }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
