<div class="col-md-7 col-lg-8 col-xl-8">
  <div class="page-header bordered">
    <h1>My Listings</h1>
  </div>
  <div class="item-listing list">
    <div class="item" *ngFor="let userApart of apartments">
      <div class="row">
        <div class="col-lg-5">
          <div class="item-image"> <a href="property_single.html"><img src="{{'http://localhost:8000/img/'+ userApart.photo}}" class="img-fluid" alt="">
            <div class="item-badges">
              <div class="item-badge-left">Sponsored</div>
              <div class="item-badge-right">For Sale</div>
            </div>
            <div class="item-meta">
              <div class="item-price">
                {{userApart.price}}
              </div>
            </div>
          </a>
            <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
          <a href="#" class="remove-item"><i class="fa fa-trash-o"></i> Delete</a>
        </div>
        <div class="col-lg-7">
          <div class="item-info">
            <h3 class="item-title"><a href="property_single.html">{{userApart.bedroomNumber}} bed semi-detached house for sale</a></h3>
            <div class="item-location"><i class="fa fa-map-marker"></i>{{userApart.address}}</div>
            <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
            <div class="item-details">
              <ul>
                <li>Sq Ft <span>730-2600</span></li>
                <li>Type <span>{{userApart.categories.name}}</span></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="added-on">Listed on 19th Feb 2017 </div>

            </div>
            <div class="col-md-6">
              <a href="#" class="added-by">by John Doe</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
