<div class="home-search">
  <div class="main search-form">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-10">
          <div class="heading">
            <h2>Find your new home</h2>
            <h3>We will help you to find the best places to spend time in any city in the world.</h3>
          </div>
          <form action="property_listing.html">
            <div class="card">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Country, State, County, City, Zip, Title, Address, ID.">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="form-group">
                        <select class="form-control form-control-lg ui-select">
                          <option value="">Property Type</option>
                          <option value="house">House</option>
                          <option value="flat">Flat</option>
                          <option value="apartment">Apartment</option>
                          <option value="land">Land</option>
                          <option value="room">Room</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleTouch"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleTouch"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleTouch"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://mdbootstrap.com/img/new/slides/041.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/042.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/new/slides/043.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>
          Praesent commodo cursus magna, vel scelerisque nisl consectetur.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleTouch"
    data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleTouch"
    data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="content" class="pt0 pb0">
  <div class="feature-box centered gray">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
            <div class="main-title"><span>Featured Properties</span></div>
            <div class="main-title-description">Thinking abroad? You can now dream and discover international properties</div>
            <div class="clearfix"></div>
            <div class="mt50 mb50">
              <div class="featured-gallery v2 item-listing grid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="item item-lg">
                      <div class="item-image" style="background-image:url(assets/img/demo/property/13.jpg);"><a href="property_single.html">
                        <div class="item-meta">
                          <div class="item-info">
                            <h3 class="item-title">3 bed semi-detached house</h3>
                            <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                          </div>
                          <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                        </div>
                        <div class="item-badges">
                          <div class="item-badge-right">For Sale</div>
                        </div>
                      </a> </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="item item-md">
                          <div class="item-image" style="background-image:url(assets/img/demo/property/2.jpg);"><a href="property_single.html">
                            <div class="item-meta">
                              <div class="item-info">
                                <h3 class="item-title">3 bed semi-detached house</h3>
                                <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                              </div>
                              <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                            </div>
                            <div class="item-badges">
                              <div class="item-badge-right">For Sale</div>
                            </div>
                          </a> </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="item item-sm">
                          <div class="item-image" style="background-image:url(assets/img/demo/property/3.jpg);"><a href="property_single.html">
                            <div class="item-meta">
                              <div class="item-info">
                                <h3 class="item-title">3 bed semi-detached house</h3>
                                <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                              </div>
                              <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                            </div>
                            <div class="item-badges">
                              <div class="item-badge-right">For Sale</div>
                            </div>
                          </a> </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="item item-sm">
                          <div class="item-image" style="background-image:url(assets/img/demo/property/4.jpg);"><a href="property_single.html">
                            <div class="item-meta">
                              <div class="item-info">
                                <h3 class="item-title">3 bed semi-detached house</h3>
                                <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                              </div>
                              <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                            </div>
                            <div class="item-badges">
                              <div class="item-badge-right">For Sale</div>
                            </div>
                          </a> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center"><a href="#" class="btn btn-xlg btn-link">Explore More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-box centered gray">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
            <div class="item-listing grid">
              <div class="main-title"><span>Latest Properties</span></div>
              <div class="main-title-description">Check out some of our recent properties.</div>
              <div class="row">
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="assets/img/demo/property/1.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                    </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="assets/img/demo/property/2.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                    </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"><a href="property_single.html"><img src="assets/img/demo/property/3.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price">$420,000 <small>$777 / sq m</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-left">Sponsored</div>
                        <div class="item-badge-right">For Sale</div>
                      </div>
                    </a> <a href="#" class="save-item"><i class="fa fa-star"></i></a> </div>
                    <div class="item-info">
                      <h3 class="item-title">3 bed semi-detached house</h3>
                      <div class="item-location"><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</div>
                      <div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="text-center">The City</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img style="height: 340px"
            src="https://mdbootstrap.com/img/new/slides/017.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">Hà Nội</h5>
            <p class="card-text">
              Hà Nội
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card row-cols-3">
          <img style="height: 340px"
            src="https://mdbootstrap.com/img/new/slides/017.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay text-color">
            <h5 class="card-title">Thành phố Hồ Chí Minh</h5>
            <p class="card-text">
              Thành phố Hồ Chí Minh
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card row-cols-3">
          <img style="height: 340px"
            src="https://mdbootstrap.com/img/new/slides/017.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay text-color">
            <h5 class="card-title">Đà Nẵng</h5>
            <p class="card-text">
              Đà Nẵng
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card row-cols-3">
          <img style="height: 340px"
            src="https://mdbootstrap.com/img/new/slides/017.jpg"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay text-color">
            <h5 class="card-title">Huế</h5>
            <p class="card-text">
              Huế
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <h3 class="text-center">The New Apartments</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="feature-box gray centered">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-12 col-xl-10">
            <div class="main-title"><span>News &amp; Updates </span></div>
            <div class="main-title-description">Stay up to date with the latest happenings.</div>
            <div class="item-listing grid mb50">
              <div class="row">
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"> <a href="blog_single.html"><img src="assets/img/demo/property/7.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price"><small>26th Oct 17</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-right">Legal</div>
                      </div>
                    </a> </div>
                    <div class="item-info">
                      <h3 class="item-title">Allianz invests 100m in Hines European Value Fund</h3>
                      <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div>
                      <div class="item-author">By John Doe</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"> <a href="blog_single.html"><img src="assets/img/demo/property/8.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price"><small>26th Oct 17</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-right">Development</div>
                      </div>
                    </a> </div>
                    <div class="item-info">
                      <h3 class="item-title">Skanska signs 43.2m construction deal in Sollentuna</h3>
                      <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div>
                      <div class="item-author">By John Doe</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <div class="item-image"> <a href="blog_single.html"><img src="assets/img/demo/property/9.jpg" class="img-fluid" alt="">
                      <div class="item-meta">
                        <div class="item-price"><small>26th Oct 17</small> </div>
                      </div>
                      <div class="item-badges">
                        <div class="item-badge-right category">Finance</div>
                      </div>
                    </a> </div>
                    <div class="item-info">
                      <h3 class="item-title">Baltic Horizon Fund plans next public offering of new units</h3>
                      <div class="item-comments-count"><i class="fa fa-comment-o"></i> 3</div>
                      <div class="item-author">By John Doe</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center"><a href="#" class="btn btn-xlg btn-link">View All</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-box centered pb0">
    <div>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-10 col-xl-10">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center mt50 mb50">
                  <div class="main-title"><span>Connect with us from anywhere</span></div>
                  <div class="main-title-description">Download the mobile app and enjoy the smoothest experience</div>
                  <img src="assets/img/store/apple.svg" width="120" alt=""> <img src="assets/img/store/google.svg" width="120" alt=""> </div>
              </div>
              <div class="col-md-6"> <img src="assets/img/demo/mobile-app-hero.png" class="img-fluid" alt=""> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
