<div class="mb-5">
  <div class="col-md-7 col-lg-8 col-xl-8">
    <div class="page-header bordered">
      <h1>Change Password</h1>
    </div>
    <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm"  (submit)="onSubmit()">
      <div class="form-group">
        <label>Your current password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Your current password" autofocus formControlName="current_password">
      </div>
      <div class="form-group">
        <label>Your new password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Your new password" formControlName="password">
      </div>
      <div class="form-group">
        <label>Repeat new password</label>
        <input type="password" class="form-control form-control-lg" placeholder="Repeat new password" formControlName="password_confirmation">
      </div>
      <hr>
      <div class="form-group action">
        <button type="submit" class="btn btn-lg btn-primary">Update Password</button>
      </div>
    </form>
  </div>
</div>
