.carousel-control-next-icon{
  padding-left: 15px;
  padding-bottom: 40px;
}

.carousel-control-prev-icon{
  padding-bottom: 40px;
  padding-left: 15px;
}

.set-upload-btn{
  display: flex!important;
  justify-content: space-between!important;
}

.image-set{
  width: 100px;
  height: 100px;
  display: inline-block;
}
