<nav class="navbar navbar-expand-lg navbar-dark" id="menu">
  <div class="container">
    <a class="navbar-brand" href="index.html"><span class="icon-uilove icon-uilove-realestate"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link-custom" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Home
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <h4 style="color: white">Welcome to SweetHome</h4>
      </ul>

    </div>
  </div>
</nav>
